__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore
.vscode/
.idea/
.cursor/

.spark_work/
api/.spark_work/

models/best_pjm_model_old_backup/

web/

README.md
*.md

Dockerfile
.dockerignore
render.yaml
